/*
 浮动、清楚浮动
 */
/*
 flex  弹性布局
 * */
/*----- 可见度 -----*/
/*
 溢出 隐藏
 * */
/*
 边框 阴影
 * */
/*
 圆角
 * */
/*
 过渡时间
 transform  过渡
 duration  持续、持续时间
 delay  延期、延时
 origin 原点、起源
 * */
/*----- 2D转换 -----*/
/*
常用 渐变
 * */
/*******************************
    -------[=初始化]-------
********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  max-width: 750px;
  margin: 0 auto;
}
body {
  font-size: 0.12rem;
}
ul,
ol,
figure,
figcaption {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #ccc;
}
em {
  font-style: normal;
}
address {
  font-style: normal;
}
input,
button,
select,
textarea,
a {
  outline: none;
}
a {
  text-decoration: none;
}
a,
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
a,
.btn,
a:focus,
.btn:focus,
a:hover,
.btn:hover,
a:active,
.btn:active {
  outline: none;
}
a,
.btn,
a:active,
.btn:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: none;
  width: auto;
  max-width: 100%;
}
strike {
  color: #ccc;
}
mark {
  background-color: transparent;
}
.img-all {
  display: block;
  width: 100%;
}
/*
 浮动、清楚浮动
 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.clear-bo {
  clear: both;
}
/*
 本地环境
 * */
.flex-refresh {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 99;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 2px;
  background-color: #0066FF;
  color: white;
  font-size: 0.25rem;
  padding: 0.1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/*
 平滑滚动
 * */
.smooth-roll {
  -webkit-overflow-scrolling: touch;
}
/*
 双击选中
 * */
.no-dbclick-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
/*
 显示、隐藏
 * */
.show,
.block {
  display: block;
}
.show-inline,
.inline {
  display: inline;
}
.show-inline-block,
.inline-block {
  display: inline-block;
}
.hide {
  display: none;
}
/*
 文本排列
 * */
.text-cenner {
  text-align: center;
}
/*
 背景
 * */
.bg-white {
  background-color: white;
}
.bg-ccc {
  background-color: #ccc;
}
.bg-eee {
  background-color: #eee;
}
/*
 字体颜色
 * */
.cl-white {
  color: white;
}
.cl-999 {
  color: #999;
}
.cl-red {
  color: #FF0000;
}
/*
 下划线、模拟下划线
 * */
.underline {
  text-decoration: underline;
}
.underline-red {
  border-bottom: 1px solid red;
}
/*
 flex 弹性布局
 * */
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  flex: 2;
}
.flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  flex: 3;
}
.flex-4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  flex: 4;
}
/*
预定义padding、margin
* */
.pd-rem-d2 {
  padding: 0.2rem;
}
.pd-rem-d3 {
  padding: 0.3rem;
}
.pd-rem-d4 {
  padding: 0.4rem;
}
